<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%= @persons %>

<%= form_tag 'generate' do %>
	<%= text_area_tag(:first_name, "Jonas Tomas Deivis Marius Ernestas") %>
	<%= text_area_tag(:last_name, " Grafas Ponas Karalius") %>
	<%= text_area_tag(:adress, "Vilnius Kaunas Klaipeda Siauliai") %>
	<%= number_field_tag(:iteration) %>
	<%= submit_tag "Generate" %>
<% end %>

<br />
<br />

<%= link_to 'Generate csv', generate_csv_path, method: :post %>

<br />
<br />

<% @exports.each do |export| %>
	<p><%= link_to  export.file_url, export.file_url, dowload: 'data' %></p>

<% end %>
<%#= link_to 'download csv', download_csv_path(format: 'csv') %>

